body {
  background: #ececec;
}
.icon-dropdown {
  font-size: 1.0rem;
  margin-left: 3px;
}

.filter-bar {
  position: relative;
  z-index: 2;
  display:-moz-box;
  display:-webkit-box;
  display:box;
  color: #666;
  font-size: 1.2rem;
  background: #fff;
  border-bottom: 1px #d3d3d3 solid;
}
.filter-bar .item {
  display: block;
  -moz-box-flex:1;
  -webkit-box-flex:1;
  box-flex:1;
  height: 33px;
  line-height: 33px;
  text-align: center;
}
.filter-bar .item.active .dropmenu {
  display: block;
}
.filter-bar .item.active .icon-dropdown {
  display: inline-block;
  transform:rotate(180deg);
}
.filter-bar .dropmenu {
  display: none;
  width: 100%;
  position:absolute;
  left: 0;
  bottom: 0;
  top: 33px;
}
.filter-bar .dropmenu .content {
  padding: 10px;
  text-align: left;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  line-height: 1.5;
}
.filter-bar .dropmenu .content li {
  padding: 0 3px;
  line-height: 19px;
  display: inline-block;
  border-radius: 3px;
}
.filter-bar .dropmenu .content li.active {
  background: #e2e2e2;
}
.filter-mask {
  width: 100%;
  position:fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  top: 43px;
  background: rgba(0,0,0,0.1);
}

.filter-side {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 92px;
  overflow-y: auto;
}
.filter-side-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}
.filter-side-con {
  position: relative;
  z-index: 1;
  height: 100%;
  background: #f0f0f0;
}
.filter-side li .icon-slt-on {
  display: none;
}
.filter-side li .icon-slt-off {
  display: inline;
}
.filter-side li.active .icon-slt-on {
  display: inline;
}
.filter-side li.active .icon-slt-off {
  display: none;
}
.filter-side .icon-slt-on {
  color: #0f7ccf;
}
.filter-side .hd {
  height: 36px;
  line-height: 36px;
  background: #fff;
  text-align: right;
  padding: 0 15px;
  border-bottom: 1px #e2e2e2 solid;
}
.filter-side .hd a {
  margin-left: 10px;
}
.filter-side .hd .lnk-normal {
  color:#666;
}
.filter-side dl {
  background: #fff;
}
.filter-side dt,
.filter-side li {
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px #e2e2e2 solid;
}
.filter-side dl dd {
  display: none;
}
.filter-side dl.active dd {
  display: block;
  max-height: 180px;
  overflow-y: auto;
}

.filter-side dt {
  display:-moz-box;
  display:-webkit-box;
  display:box;
}
.filter-side dt h3 {
  -moz-box-flex:1;
  -webkit-box-flex:1;
  box-flex:1;
}
.filter-side dt .val {
  color: #666;
  -moz-box-flex:1;
  -webkit-box-flex:1;
  box-flex:1;
  text-align: right;
}
.filter-side dl.active .val .icon {
  display: inline-block;
  transform:rotate(180deg);
}
.filter-side dd.gray {
  background: #f3f3f3;
}
.filter-side dd.gray li.active {
  color: #117bcf;
}
.filter-side .div {
  height: 5px;
}