<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
<title>GMU Demos</title>
<link rel="stylesheet" type="text/css" href="/src/common/reset.css" />
<link rel="stylesheet" type="text/css" href="/src/common/g.css" />
<link rel="stylesheet" type="text/css" href="/src/jd/jd.css" />
</head>
<body>
<div id="doc">
  <div class="topcard">
    <a class="back" href="#">
      <i class="icon iconfont">&#xe60a;</i>
    </a>
    <a class="home" href="#">
      <i class="icon iconfont">&#xe601;</i>
    </a>
    <div class="content">
      <h1>产品实习生 <span class="xc">5-8k</span></h1>
      <p>北京  <i class="line">|</i> 全职 <i class="line">|</i>  经验不限  <i class="line">|</i> 学历不限 <i class="line">|</i>  全职</p>
      <p class="small">10:44发布</p>
    </div>
  </div>

  <div class="company">
    <a href="#">
      <div class="col-1">
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGYzNTYwM2Q2OCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZjM1NjAzZDY4Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzQuNSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" class="compy-logo">
        <div class="info">
          <h3>正邦</h3>
          <p>文化娱乐/1000人</p>
        </div>
      </div>
      <div class="col-2">
        共<em>34</em>个职位 <i class="icon iconfont">&#xe605;</i>
      </div>
    </a>
  </div>

  <div class="description">
    <h2>我们希望你</h2>
    <ul class="taglist row">
      <li class="c1">硕士及以上</li>
      <li class="c2">熟练掌握工熟原型工熟工熟</li>
      <li class="c3">通过招聘网站</li>
      <li class="c4">善于沟通有管理经验</li>
    </ul>
    <p>参与网站交易平台，Web端界面功能开发、优化代码并
合后台开发人员实现产品功能与操作流程
Web前沿技术研究和新技术调研</p>
    <p>热爱前端,对web技术钻研有强烈兴趣，有良好的学习能力
精通html/xhtml、css等网页制作技术，熟悉页面架
熟悉Web标准，对表现与数据分离，html语义化等
熟悉smarty模板以及b</p>

    <h3>你负责的项目</h3>
    <div class="project">
        <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGYzNTYwM2Q2OCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZjM1NjAzZDY4Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzQuNSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" class="compy-logo">
        <div class="info">
          <h3>高德地图</h3>
          <p>参与和制定丁丁租房的 JavaScript 和 CSS
编码规范参与系统整体编码规范...</p>
        </div>
    </div>
    <p>热爱前端,对web技术钻研有强烈兴趣，有良好的学习能
精通html/xhtml、css等网页制作技术，熟悉页面架构
熟悉Web标准，对表现与数据分离，html语义化</p>
  </div>

  <div class="step">
    <div class="progress">
      <i class="val"></i>
    </div>
    <ol class="row">
      <li class="active">
        <i class="num">1</i>
        <p>在线笔试</p>
      </li>
      <li>
        <i class="num">2</i>
        <p>在线面试</p>
      </li>
      <li>
        <i class="num">3</i>
        <p>拿到offer</p>
      </li>
    </ol>
  </div>

  <div class="question">
    <h2>负责产品从无到有的规划，包括市场分析
产品经理的主要职责是什么？</h2>
    <p>从0-1，负责产品从无到有的规划，包括市场分析、竞争对手分析、用户分析等，制定产品方案或策略，并协调产品设计、工业设计、产品研发（或生产）</p>
    <p><img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGYzNTYwM2Q2OCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZjM1NjAzZDY4Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzQuNSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" width="100%"></p>

    <div class="status">
     <i class="icon iconfont">&#xe611;</i> 收到<em>32</em>封答案 <i class="line">|</i> <em>3</em>人邀请面试 <i class="line">|</i> <i class="icon iconfont">&#xe612;</i> 笔试已结束
    </div>

  </div>
  <div class="author">
    <div class="hd">
      <img width="23" class="face" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGYzNTYwM2Q2OCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZjM1NjAzZDY4Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzQuNSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="> <span>王晓明 奇虎360产品总监</span>
    </div>
    <div class="bd">
      <i class="dur"></i>
      请用电脑登录知行（zhixing.me）就能看到精彩的笔试答案啦就有机会获得面试哦
    </div>

  </div>


  <div class="question">
    <h2 class="tit">笔试题目于2015-10-10公布</h2>
    <p>笔试时间<a href="#">2015-10-10</a> 至 2015-10-20</p>
  </div>
  <div class="author">
    <div class="hd">
      <img width="23" class="face" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGYzNTYwM2Q2OCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZjM1NjAzZDY4Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzQuNSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="> <span>王晓明 奇虎360产品总监</span>
    </div>
    <div class="bd">
      <i class="dur"></i>
      请用电脑登录知行（zhixing.me）就能看到精彩的笔试答案啦就有机会获得面试哦
    </div>

  </div>

  <div class="btn-group">
    <a href="#" class="btn-l"><i class="icon iconfont">&#xe604;</i> 推荐职位</a>
    <a href="#" class="btn-r"><i class="icon iconfont">&#xe600;</i> 收藏职位</a>
  </div>
  <div class="btn-group">
    <a href="#" class="btn-l"><i class="icon iconfont">&#xe604;</i> 推荐职位</a>
    <a href="#" class="btn-r disabled"><i class="icon iconfont">&#xe600;</i> 收藏职位</a>
  </div>
  <div class="ad">
    <img src="/assets/images/ad1.png" width="100%">
  </div>
  <div class="related">
    <div class="hd">
      <a href="#" class="row"><span class="t">相关职位</span> <i class="icon iconfont">&#xe605;</i></a>
    </div>
    <div class="bd">
      <ul>
        <li class="row"><a href="#"><span class="l">产品经理<em>8-9k</em></span><span class="r">正邦</span> </a></li>
        <li class="row"><a href="#"><span class="l">产品经理<em>8-9k</em></span><span class="r">正邦</span> </a></li>
        <li class="row"><a href="#"><span class="l">产品经理<em>8-9k</em></span><span class="r">正邦</span> </a></li>
      </ul>
    </div>
  </div>
  <div class="ad">
    <img src="/assets/images/ad2.png" width="100%">
  </div>
  <div class="ad">
    <img src="/assets/images/ad3.png" width="100%">
  </div>
  <div class="aboutus">
    <h2>知行，一题直通名企</h2>
    <p>134所全国211优质大学生汇聚于此</p>
    <p>134所全国211优质大学生汇聚于此</p>
    <a href="#">我要招人</a>
  </div>
</div>