<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
<title>GMU Demos</title>
<link rel="stylesheet" type="text/css" href="/src/common/reset.css" />
<link rel="stylesheet" type="text/css" href="/src/common/g.css" />
<link rel="stylesheet" type="text/css" href="/src/jdlist/jdlist.css" />
</head>
<body>
<div id="doc">
  <!-- topbar -->
  <div class="topbar">
    <h1 class="title">职位列表</h1>
    <div class="back back__"><i class="icon iconfont icon-back">&#xe605;</i></div>
    <div class="tool"><i class="icon iconfont icon-plus">&#xe600;</i>订阅</div>
  </div>
  <!-- topbar -->

  <!-- filter bar -->
  <div class="filter-bar row" id="filterBar">
    <div class="item item-filter">
      全国<i class="icon iconfont icon-dropdown">&#xe60b;</i>
      <div class="dropmenu">
        <ul class="content row">
          <li class="active">北京</li>
          <li>深圳</li>
          <li>广州</li>
          <li>上海</li>
          <li>深圳</li>
          <li>广州</li>
          <li>上海</li>
          <li>深圳</li>
          <li>广州</li>
          <li>上海</li>
          <li>深圳</li>
          <li>广州</li>
          <li>上海</li>
          <li>深圳</li>
          <li>广州</li>
          <li>上海</li>
          <li>深圳</li>
          <li>广州</li>
          <li>上海</li>
        </ul>
      </div>
    </div>
    <div class="item item-filter">
      学历要求<i class="icon iconfont icon-dropdown">&#xe60b;</i>
      <div class="dropmenu">
        <ul class="content row">
          <li class="active">北京</li>
          <li>深圳</li>
          <li>广州</li>
        </ul>
      </div>
    </div>
    <div class="item item-filter">
      公司规模<i class="icon iconfont icon-dropdown">&#xe60b;</i>
      <div class="dropmenu">
        <ul class="content row">
          <li>北京</li>
          <li>深圳</li>
          <li>广州</li>
        </ul>
      </div>
    </div>
    <div class="item item-filter-bar">
      筛选<i class="icon iconfont">&#xe60c;</i>
    </div>
  </div>
  <div class="filter-mask" id="filterMask" style="display:none;"></div>
  <!-- filter bar -->
  <div class="div"></div>
  <ul class="jd-list">
    <li class="jd-item">
      <div class="hd">
        <h2>支付结算工程师（JAVA）<em>10-20k</em></h2>
        <p>5-10年工作经验/本科</p>
        <a class="comp-logo" href="#"><img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGYzNTYwM2Q2OCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZjM1NjAzZDY4Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzQuNSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="></a>
      </div>
      <div class="bd">
        <i class="tag tag-2">笔试中</i><i class="tag tag-1">预告</i><i class="tag tag-3">已结束</i>某某算法，数据建模等等
      </div>
      <div class="ft">
        笔试时间：2015-10-10 | 已有<em>34</em>封答卷
      </div>
    </li>

    <li class="jd-item">
      <div class="hd">
        <h2>支付结算工程师（JAVA）<em>10-20k</em></h2>
        <p>5-10年工作经验/本科</p>
        <a class="comp-logo" href="#"><img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGYzNTYwM2Q2OCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZjM1NjAzZDY4Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzQuNSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="></a>
      </div>
      <div class="bd">
        <i class="tag tag-2">笔试中</i><i class="tag tag-1">预告</i><i class="tag tag-3">已结束</i>某某算法，数据建模等等
      </div>
      <div class="ft">
        笔试时间：2015-10-10 | 已有<em>34</em>封答卷
      </div>
    </li>

  </ul>
  <div class="filter-side" id="filterSide" style="display: none;">
    <div class="filter-side-mask" id="filterSideMask"></div>
    <div class="filter-side-con">
      <div class="hd">
        <a class="lnk-normal opt-reset" href="#">重置</a>
        <a href="#" class="opt-ok">确定</a>
      </div>
      <dl class="active">
        <dt>
          <h3>排序方式：</h3>
        </dt>
        <dd>
          <ul id="filterOrder">
            <li class="active"><i class="icon iconfont icon-slt-on">&#xe607;</i><i class="icon iconfont icon-slt-off">&#xe608;</i>默认</li>
            <li><i class="icon iconfont icon-slt-on">&#xe607;</i><i class="icon iconfont icon-slt-off">&#xe608;</i>最新发布</li>
            <li><i class="icon iconfont icon-slt-on">&#xe607;</i><i class="icon iconfont icon-slt-off">&#xe608;</i>正在笔试</li>
          </ul>
        </dd>
      </dl>
      <div class="div"></div>
      <div id="filterOther">
        <dl class="active">
          <dt>
            <h3>月薪范围</h3>
            <span class="val"><em class="v">全部</em><i class="icon iconfont icon-dropdown">&#xe60b;</i></span>
          </dt>
          <dd class="gray">
            <ul class="filteritem">
              <li class="active">全部</li>
              <li>30k+</li>
              <li>15-30k</li>
              <li>10-15k</li>
              <li>5-10k</li>
              <li>50k以下</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt>
            <h3>行业领域</h3>
            <span class="val"><em class="v">全部</em><i class="icon iconfont icon-dropdown">&#xe60b;</i></span>
          </dt>
          <dd class="gray">
            <ul class="filteritem">
              <li>全部</li>
              <li>30k+</li>
              <li>15-30k</li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt>
            <h3>笔试状态</h3>
            <span class="val"><em class="v">全部</em><i class="icon iconfont icon-dropdown">&#xe60b;</i></span>
          </dt>
          <dd class="gray">
            <ul class="filteritem">
              <li>全部</li>
              <li>30k+</li>
              <li>15-30k</li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/lib/sea.js"></script>
<script type="text/javascript" src="/src/common/g.js"></script>
<script>
// 加载入口模块
seajs.use(['zepto', 'gmu'], function(){
  var $itemFilter = $('.item-filter'),
      $filterMask = $('#filterMask'),
      $itemFilterBar = $('.item-filter-bar'),
      $filterSide = $('#filterSide'),
      $filterSideMask = $('#filterSideMask'),
      $filterOrder = $('#filterOrder'),
      $filterOther = $('#filterOther');

  $itemFilter.on('click tap', function(e){
    e.preventDefault();
    $itemFilter.removeClass('active');
    $(this).addClass('active');
    $filterMask.show();
  });

  $filterMask.on('click tap', function(e){
    e.preventDefault();
    $itemFilter.removeClass('active');
    $filterMask.hide();
  });

  $itemFilterBar.on('click tap', function(e){
    e.preventDefault();
    $itemFilter.removeClass('active');
    $filterMask.hide();
    $filterSide.show();
  });

  $filterSideMask.on('click tap', function(e){
    e.preventDefault();
    $filterSide.hide();
  });

  $filterOrder.find('li').on('click tap', function(e){
    e.preventDefault();
    $filterOrder.find('li').removeClass('active');
    $(this).addClass('active');
  });

  $filterOther.find('dt').on('click tap', function(e){
    e.preventDefault();
    $filterOther.find('dl').removeClass('active');
    $(this.parentNode).addClass('active');
  });

  $('.filteritem li').on('click tap', function(e){
    e.preventDefault();
    $(this.parentNode).find('li').removeClass('active');
    $(this).addClass('active');
    var val  = $(this).text();
    $(this.parentNode.parentNode.parentNode).find('.v').text(val);
  });

  $filterSide.find('.opt-ok').on('click tap', function(e){
    e.preventDefault();
    $filterSide.hide();
  });

  $filterSide.find('.opt-reset').on('click tap', function(e){
    e.preventDefault();
    location.reload();
  });
});
</script>
</body>
</html>