<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
<title>GMU Demos</title>
<link rel="stylesheet" type="text/css" href="/src/common/reset.css" />
<link rel="stylesheet" type="text/css" href="/src/common/g.css" />
</head>
<body>
<div id="doc">
  <!-- topbar -->
  <div class="topbar">
    <h1 class="title">职位列表</h1>
    <div class="back"><i class="icon iconfont icon-back">&#xe605;</i></div>
  </div>
  <!-- topbar -->
  <div class="jd-sub">
    <h2>PHP + 本科 + 上市公司</h2>
    <button class="btn btn-block btn-success">按上述条件订阅职位</button>
    <p>订阅之后能及时收到最新的职位信息</p>
  </div>
</div>
</body>
</html>