<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
<title>GMU Demos</title>
<link rel="stylesheet" type="text/css" href="/src/common/reset.css" />
<link rel="stylesheet" type="text/css" href="/src/common/g.css" />
</head>
<body>
<div id="doc">
  <!-- topbar -->
  <div class="topbar">
    <h1 class="title">职位列表</h1>
    <div class="back back__"><i class="icon iconfont icon-back">&#xe605;</i></div>
  </div>
  <!-- topbar -->
  <div class="jd-sub-suss">
    <i class="icon iconfont icon-xiaolan">&#xe609;</i>
    <div class="content">
      <h2>恭喜您已订阅成功</h2>
      <p>知行会推送给你最新的职位信息</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="/lib/sea.js"></script>
<script type="text/javascript" src="/src/common/g.js"></script>
</body>
</html>