<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
<title>GMU Demos</title>
<link rel="stylesheet" type="text/css" href="/src/common/reset.css" />
<link rel="stylesheet" type="text/css" href="/src/common/g.css" />
<link rel="stylesheet" type="text/css" href="/src/login/login.css" />
</head>
<body>
<div id="doc">
  <div class="logo">
    <img src="../assets/images/logo.png" width="70" />
  </div>

  <div class="form">
    <form class="form" name="login">
      <div class="form-item">
        <input name="account" placeholder="请输入手机号">
      </div>
      <div class="form-item">
        <input type="password" name="pwd" placeholder="请输入密码">
      </div>
      <div class="form-btn">
        <button type="button" class="btn btn-primary btn-block">登录</button>
      </div>
    </form>
  </div>
  <div class="toreg">
    没有帐号？立即<a href="#">注册</a>
  </div>
</div>
<script type="text/javascript" src="/lib/sea.js"></script>
<script type="text/javascript" src="/src/common/g.js"></script>
<script>
// 加载入口模块
seajs.use(['zepto', 'gmu'], function(){
  console.log(Zepto, gmu);
});
</script>
</body>
</html>