<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
<title>GMU Demos</title>
<link rel="stylesheet" type="text/css" href="/src/common/reset.css" />
<link rel="stylesheet" type="text/css" href="/src/common/g.css" />
<link rel="stylesheet" type="text/css" href="/src/login/login.css" />
</head>
<body>
<div id="doc">
  <div class="logo">
    <img src="../assets/images/logo.png" width="80" />
  </div>

  <div class="form">
    <form class="form" name="reg">
      <div class="form-item row form-item-phone">
        <span class="col-1">
          <input name="account" placeholder="请输入手机号">
        </span>
        <span class="col-2">
          <button class="btn btn-block btn-link" type="button">发送验证码</button>
        </span>
      </div>
      <div class="form-item">
        <input type="password" name="ccode" placeholder="请输入验证码">
      </div>
      <div class="form-item">
        <input type="password" name="pwd" placeholder="请输入密码">
      </div>
      <div class="form-btn">
        <button type="submit" class="btn btn-primary btn-block">注册</button>
      </div>
    </form>
  </div>
  <div class="agreement">点击注册即代表同意<a href="#">《知行用户协议》</a></div>
  <div class="toreg">
    没有帐号？立即<a href="#">注册</a>
  </div>
</div>
<div class="toast" id="error_box" style="display: none;">
  <table><tr><td id="errcontent">
    请输入密码
  </td></tr></table></div>
</div>
<script type="text/javascript" src="/lib/sea.js"></script>
<script type="text/javascript" src="/src/common/g.js"></script>
<script>
// 加载入口模块
seajs.use(['zepto', 'gmu', 'validate'], function(){

    var validCallback = function(errors, e) {
      e.preventDefault();
      var SELECTOR_ERRORS = $('#error_box'),
          SELECTOR_ERRORSSTR = $('#errcontent');

      if (errors.length > 0) {
          var errString = '';
          for (var i = 0, errorLength = errors.length; i < errorLength; i++) {
              errString += errors[i].message + '<br />';
          }
          SELECTOR_ERRORSSTR.html(errString);
          SELECTOR_ERRORS.show();
          console.log(errors);
      } else {
          SELECTOR_ERRORS.hide();
          alert('提交成功');
      }
    },
    validRules = [{
      name: 'account',
      display: '账户',
      rules: 'required'
    }, {
      name: 'ccode',
      display: '验证码',
      rules: 'required'
    }, {
      name: 'pwd',
      display: '密码',
      rules: 'required'
    }];

    var validator = new FormValidator('reg', validRules, validCallback);
});
</script>
</body>
</html>