<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta charset="utf-8">
<title>GMU Demos</title>
<link rel="stylesheet" type="text/css" href="/src/common/reset.css" />
<link rel="stylesheet" type="text/css" href="/src/common/g.css" />
<link rel="stylesheet" type="text/css" href="/src/search/search.css" />
</head>
<body>
<div id="doc">
  <div class="search">
    <form class="form-search">
      <i class="icon iconfont icon-search">&#xe60e;</i>
      <input type="search" placeholder="搜索">
      <button type="submit" class="btn-link">搜索</button>
    </form>
  </div>
</div>
<script type="text/javascript" src="/lib/sea.js"></script>
<script type="text/javascript" src="/src/common/g.js"></script>
<script>
// 加载入口模块
seajs.use(['zepto', 'gmu'], function(){
});
</script>
</body>
</html>